<ul>
  <li routerLinkActive="act" [routerLinkActiveOptions]="{exact: true}">
    <a class="active" routerLink="home">Home</a>
  </li>
  <li routerLinkActive="act">
    <a class="active" routerLink="piechart">Pie Chart</a>
  </li>
  <!-- <li routerLinkActive="act">
    <a (click)="goTo('products')">Products</a>
  </li> -->
  <!-- <li><a (click)="goTo('employee')">Employee</a></li> -->
  <li routerLinkActive="act">
    <a routerLink="/barchart">Bar Chart</a>
  </li>
  <li routerLinkActive="act">
    <a routerLink="/doughnutchart">Doughnut Chart</a>
  </li>
  <li routerLinkActive="act">
    <a routerLink="/basechart">Base Chart</a>
  </li>
  <!-- <li routerLinkActive="act">
    <a routerLink="/about">About Me(L)</a>
  </li> -->
</ul>
