<p>{{welcomeMessage}}</p>
<p>Students Count: {{noOfStudents}}</p>
<h1>I am Header1</h1>
<h2>I am Header2</h2>
<h3>I am Header3</h3>
<h4>I am Header4</h4>
<h5>I am Header5</h5>
<h6>I am Header6</h6>
{{welcomeMessage}}

<div>
<label for="firstName">First Name</label>
<input type="text" name="firstName" id="firstName" placeholder="Enter Name">
</div>

<div>
<label for="studentId">Student Id</label>
<input type="number" name="studentId" id="studentId" placeholder="Enter ID">
</div>

<button type="submit" (click)="searchStudent()">Search</button>
<!-- <button type="submit" (click)="searchStudent2()">button2</button>
<button type="submit" (click)="searchStudent3()">button3</button>
{{noOfClicks}}
<div>
  <button type="reset">Reset Form</button>
</div>

<app-student></app-student> -->
