<p>{{welcomeMessage}}</p>
<p>Students Count: {{noOfStudents}}</p>
<h1>I am Header1</h1>
<h2>I am Header2</h2>
<h3>I am Header3</h3>
<h4>I am Header4</h4>
<h5>I am Header5</h5>
<h6>I am Header6</h6>
{{welcomeMessage}}

<div>
<label for="firstName">First Name</label>
<input type="text" name="firstName" id="firstName" placeholder="Enter Name">
</div>

<div>
<label for="studentId">Student Id</label>
<input type="number" name="studentId" id="studentId" placeholder="Enter ID">
</div>

<button type="submit" (click)="searchStudent()">Search</button>
<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Salary</th>
    <th>Age</th>
  </tr>
  <tr *ngFor="let emp of empData">
    <td>{{emp.id}}</td>
    <td>{{emp.employee_name}}</td>
    <td>{{emp.employee_salary}}</td>
    <td>{{emp.employee_age}}</td>
  </tr>
</table>

<div>
<button type="submit" (click)="searchStuByID()">Search</button>
</div>
<!-- endDate: "10/10/2019"
id: "104"
in_stock: 46
name: "Toaster"
price: 45
startDate: "10/10/2018" -->
<input type="number" id="productid" name="productid" [(ngModel)]="productid">
<div *ngIf="stuData != null">
<p>Id: {{stuData.id}}</p>
<p>Stock: {{stuData.in_stock}}</p>
<p>Name: {{stuData.name}}</p>
<p>Price: {{stuData.price}}</p>
<p>Date: {{stuData.startDate}}</p>
</div>

<!-- 
<app-student></app-student>  -->
