<button type="submit" (click)="getAllProducts()">Get All Products</button>
<table>
  <tr>
    <th>Id</th>
    <th>Product Name</th>
    <th>Price</th>
    <th>Stock</th>
  </tr>
  <tr *ngFor="let product of productsList">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.in_stock}}</td>
  </tr>
</table>

<input type="text" id="productId" name="productId" [(ngModel)]="productId">
<button type="submit" (click)="getProductById()">Search By ID</button>
<div *ngIf="product !=null">
  <p>{{product.id}}</p>
  <p>{{product.name}}</p>
  <p>{{product.price}}</p>
  <p>{{product.in_stock}}</p>
</div>
